.app {
  text-align: center;
}

.app-logo {
  height: 20vmin;
  pointer-events: none;
  animation: rotate 5s infinite;
  color: #b30000;
}

.app-header {
  background-color: #38689f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dbc33d;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(50deg);
  }
}
